# Aggreate shot level feature to video level
- mean 
- variance

In [ ]:
import pickle
import os
import tqdm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.api import OLS
import statsmodels.api as sm
import statsmodels.stats as sts
from scipy import stats
import statsmodels.stats.api as sms

import datetime
date = datetime.datetime.now()
date = date.strftime("%Y.%m.%d")
np.random.seed(0)

def stdz(series: pd.Series):
    """Standardize the given pandas Series"""
    return (series - series.mean())/series.std()
def unitstdz(series:pd.Series):
    return (series - series.min())/(series.max()-series.min())

from imblearn.under_sampling import RandomUnderSampler

## color and texture

In [2]:
color = pd.read_json('../features/color-texture-eyetracking.json', lines=True)

In [3]:
color.tail(2)

,ad_id,shot,position_in_shot,im_num,color_brightness,color_hue,color_saturation,color_brightness_contrast,color_color_diversity,color_clarity,...,texture_c2_contrast,texture_c2_correlation,texture_c2_energy,texture_c2_homogeneity,texture_c2_dissimilarity,texture_c3_contrast,texture_c3_correlation,texture_c3_energy,texture_c3_homogeneity,texture_c3_dissimilarity
4179,99+VINTAGE 1958 PET EVAPORATED MILK COMMERCIAL...,1,f,19,65.8113,23.321,16.9936,66.6923,414721.0,40.2125,...,256.7632,0.8958,0.3904,0.8694,2.1915,26.0175,0.9971,0.3702,0.7544,1.6140
4180,99+VINTAGE 1958 PET EVAPORATED MILK COMMERCIAL...,1,i,20,66.2912,23.659,16.7928,67.0494,414721.0,40.4082,...,270.4287,0.8890,0.3900,0.8641,2.2455,26.4499,0.9971,0.3693,0.7522,1.6292

In [4]:
color.head(2)

,ad_id,shot,position_in_shot,im_num,color_brightness,color_hue,color_saturation,color_brightness_contrast,color_color_diversity,color_clarity,...,texture_c2_contrast,texture_c2_correlation,texture_c2_energy,texture_c2_homogeneity,texture_c2_dissimilarity,texture_c3_contrast,texture_c3_correlation,texture_c3_energy,texture_c3_homogeneity,texture_c3_dissimilarity
0,1+90 Years Crafting.mp4,2,i,0,117.7485,22.633,30.3671,94.0908,414720.44,55.7297,...,312.0798,0.9139,0.3856,0.6517,4.0763,79.4319,0.9955,0.2875,0.6454,3.1255
1,1+90 Years Crafting.mp4,2,m,1,115.1036,23.939,31.9351,88.7665,414720.60,54.4938,...,141.8370,0.9570,0.3481,0.6605,2.6709,43.4467,0.9972,0.2630,0.6502,2.5258

In [6]:
color.columns

Index(['ad_id', 'shot', 'position_in_shot', 'im_num', 'color_brightness',
       'color_hue', 'color_saturation', 'color_brightness_contrast',
       'color_color_diversity', 'color_clarity', 'color_black', 'color_blue',
       'color_brown', 'color_gray', 'color_green', 'color_orange',
       'color_pink', 'color_purple', 'color_red', 'color_white',
       'color_yellow', 'texture_c1_contrast', 'texture_c1_correlation',
       'texture_c1_energy', 'texture_c1_homogeneity',
       'texture_c1_dissimilarity', 'texture_c2_contrast',
       'texture_c2_correlation', 'texture_c2_energy', 'texture_c2_homogeneity',
       'texture_c2_dissimilarity', 'texture_c3_contrast',
       'texture_c3_correlation', 'texture_c3_energy', 'texture_c3_homogeneity',
       'texture_c3_dissimilarity'],
      dtype='object')

In [9]:
color_stats = color.groupby('ad_id')[color.columns.drop(['ad_id', 'shot','position_in_shot'])].agg(['mean', 'std'])

In [10]:
color_stats.columns = ['_'.join(col) for col in color_stats.columns]
color_stats.reset_index(inplace=True)

In [11]:
color_stats.tail(2)

,ad_id,im_num_mean,im_num_std,color_brightness_mean,color_brightness_std,color_hue_mean,color_hue_std,color_saturation_mean,color_saturation_std,color_brightness_contrast_mean,...,texture_c3_contrast_mean,texture_c3_contrast_std,texture_c3_correlation_mean,texture_c3_correlation_std,texture_c3_energy_mean,texture_c3_energy_std,texture_c3_homogeneity_mean,texture_c3_homogeneity_std,texture_c3_dissimilarity_mean,texture_c3_dissimilarity_std
111,98+Unibale Baby formula- Babyactiv8.mp4,42.5,24.969982,117.818737,30.461105,29.236802,12.431131,49.158985,24.099056,85.314442,...,39.761979,32.212892,0.996824,0.003345,0.283863,0.119469,0.640152,0.137735,2.230563,1.182115
112,99+VINTAGE 1958 PET EVAPORATED MILK COMMERCIAL...,10.0,6.204837,57.463324,9.768570,23.039000,0.898532,26.329752,7.907977,65.768529,...,16.260871,4.995105,0.998071,0.000650,0.373581,0.007879,0.713152,0.053907,1.444348,0.353413

In [12]:
color_stats.describe()

,im_num_mean,im_num_std,color_brightness_mean,color_brightness_std,color_hue_mean,color_hue_std,color_saturation_mean,color_saturation_std,color_brightness_contrast_mean,color_brightness_contrast_std,...,texture_c3_contrast_mean,texture_c3_contrast_std,texture_c3_correlation_mean,texture_c3_correlation_std,texture_c3_energy_mean,texture_c3_energy_std,texture_c3_homogeneity_mean,texture_c3_homogeneity_std,texture_c3_dissimilarity_mean,texture_c3_dissimilarity_std
count,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,...,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000
mean,18.489141,10.829871,118.651256,20.911242,40.374467,13.483513,52.741806,19.226974,82.794977,10.261281,...,84.943565,53.395156,0.993051,0.005602,0.297389,0.047417,0.694964,0.073781,2.274941,0.864428
std,16.961752,9.158670,33.737777,10.454993,18.446055,6.773613,24.027372,11.190259,12.962015,6.152807,...,68.695025,49.882168,0.007665,0.010581,0.092443,0.054333,0.070594,0.029482,0.947781,0.514070
min,1.000000,1.000000,28.077037,1.610033,9.688857,0.209886,15.230030,1.991000,37.287836,1.190177,...,2.716822,3.538175,0.940514,0.000206,0.223467,0.000115,0.541483,0.004392,0.564703,0.078797
25%,10.000000,6.204837,98.254623,13.262273,24.772000,9.147804,33.925578,11.398756,77.284429,6.101276,...,31.679797,19.590192,0.991536,0.001370,0.230211,0.005323,0.644691,0.051820,1.567790,0.481670
50%,14.500000,8.803408,120.696366,19.697460,37.126941,13.234309,51.639762,16.878528,83.589259,9.132647,...,72.141168,39.750976,0.994969,0.002831,0.253667,0.018223,0.688926,0.069150,2.230563,0.773164
75%,20.500000,12.267844,141.959122,27.255873,51.274625,17.591069,66.605615,24.993069,90.928053,13.520075,...,113.317185,62.477910,0.997214,0.005741,0.347478,0.089730,0.739677,0.092245,2.707910,1.039208
max,118.500000,68.848868,185.980330,50.539839,102.341217,29.501505,172.156040,54.264095,112.961314,44.660767,...,435.210510,304.729545,0.999814,0.089575,0.650933,0.261630,0.880911,0.150965,5.748576,2.982591

In [13]:
len(color_stats),len(color)

(113, 4181)

## content and composite

In [17]:
content = pd.read_json('../features/content-composite-complexity-eyetracking.json', lines=True)
len(content)

4181

In [18]:
content = content[['ad_id', 'shot', 'inner_brightness', 'inner_sharpness',
       'objects_count_yolo', 'face_count_yolo', 'region_size_avg',
       'region_count', 'rule_of_thirds']]

In [19]:
percentiles = [0.1,0.2,0.8,0.9,0.95,0.97,0.99,0.992]
content['region_size_avg'].describe(percentiles=percentiles)

count    4179.000000
mean        0.134106
std         0.119792
min         0.013400
10%         0.046600
20%         0.056000
50%         0.091300
80%         0.197780
90%         0.274080
95%         0.331600
97%         0.428832
99%         0.525710
99.2%       0.550661
max         0.992600
Name: region_size_avg, dtype: float64

In [20]:
percentile_99 = content['region_size_avg'].quantile(0.99)
content.loc[content['region_size_avg'] > percentile_99, 'region_size_avg'] = 0
content.loc[content['region_size_avg'] > percentile_99, 'rule_of_thirds'] = 0

In [21]:
content.describe()

,shot,inner_brightness,inner_sharpness,objects_count_yolo,face_count_yolo,region_size_avg,region_count,rule_of_thirds
count,4181.000000,4174.000000,4181.000000,4181.000000,4181.000000,4179.000000,4181.000000,4181.000000
mean,3.799809,1.495970,107.397753,1.384836,0.787132,0.125912,7.787611,0.854746
std,2.841736,0.475570,421.240147,1.548405,0.786937,0.096744,4.097245,0.151783
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.249725,0.000000,0.000000,0.000000,0.059450,5.000000,0.750000
50%,3.000000,1.394250,23.335300,1.000000,1.000000,0.089500,7.000000,0.875000
75%,6.000000,1.641875,73.511600,2.000000,1.000000,0.162000,10.000000,1.000000
max,9.000000,8.923100,10167.768600,14.000000,5.000000,0.525600,25.000000,1.000000

In [22]:
content = content.replace([np.inf, -np.inf], np.nan)

In [23]:
for col in content.columns:
    if content[col].isna().any():
        print(col)

inner_brightness
region_size_avg

In [24]:
content['inner_brightness'].fillna(0,inplace=True)

/tmp/ipykernel_28799/184991242.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  content['inner_brightness'].fillna(0,inplace=True)

In [25]:
content['region_size_avg'].fillna(0,inplace=True)

/tmp/ipykernel_28799/82610038.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  content['region_size_avg'].fillna(0,inplace=True)

In [26]:
for col in content.columns:
    if content[col].isna().any():
        print(col)

In [27]:
content.tail(2)

,ad_id,shot,inner_brightness,inner_sharpness,objects_count_yolo,face_count_yolo,region_size_avg,region_count,rule_of_thirds
4179,99+VINTAGE 1958 PET EVAPORATED MILK COMMERCIAL...,1,2.0671,0.0,1,0,0.2274,6,0.8333
4180,99+VINTAGE 1958 PET EVAPORATED MILK COMMERCIAL...,1,2.0684,0.0,0,0,0.1979,5,0.8000

In [28]:
content_stats = content.groupby('ad_id')[content.columns.drop(['ad_id', 'shot'])].agg(['mean', 'std'])

In [29]:
content_stats.columns = ['_'.join(col) for col in content_stats.columns]

In [30]:
content_stats.reset_index(inplace=True)

In [31]:
len(content_stats),len(content)

(113, 4181)

In [32]:
for col in content_stats.columns:
    if content_stats[col].isna().any():
        print(col)

In [33]:
content_stats.fillna(0, inplace=True)

In [34]:
content_stats.describe()

,inner_brightness_mean,inner_brightness_std,inner_sharpness_mean,inner_sharpness_std,objects_count_yolo_mean,objects_count_yolo_std,face_count_yolo_mean,face_count_yolo_std,region_size_avg_mean,region_size_avg_std,region_count_mean,region_count_std,rule_of_thirds_mean,rule_of_thirds_std
count,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000
mean,1.481178,0.250367,113.056213,235.169616,1.318962,1.088275,0.754854,0.620832,0.124559,0.070495,7.586838,2.909940,0.850843,0.137478
std,0.293700,0.282392,131.386847,355.109035,0.770929,0.685301,0.345480,0.275202,0.057347,0.036627,2.418756,1.133203,0.061193,0.046032
min,1.088290,0.008905,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047433,0.007215,1.800000,0.516398,0.674100,0.000000
25%,1.296644,0.121536,42.136562,47.873676,0.900000,0.666667,0.555556,0.492545,0.087144,0.045531,5.914894,2.129776,0.815485,0.103343
50%,1.386243,0.194756,67.672963,98.977502,1.136364,0.923548,0.761905,0.613611,0.102479,0.066096,7.571429,2.855021,0.856567,0.135824
75%,1.549870,0.265591,133.995981,299.704001,1.583333,1.278110,1.000000,0.766965,0.150931,0.092944,9.090909,3.700601,0.888344,0.164696
max,2.785400,2.470628,721.102478,2097.258294,6.113636,4.036810,1.636364,1.746425,0.327076,0.179789,14.000000,6.605914,1.000000,0.278520

In [35]:
content_stats.tail(2)

,ad_id,inner_brightness_mean,inner_brightness_std,inner_sharpness_mean,inner_sharpness_std,objects_count_yolo_mean,objects_count_yolo_std,face_count_yolo_mean,face_count_yolo_std,region_size_avg_mean,region_size_avg_std,region_count_mean,region_count_std,rule_of_thirds_mean,rule_of_thirds_std
111,98+Unibale Baby formula- Babyactiv8.mp4,1.356488,0.277388,59.16913,120.130925,1.406977,1.172006,0.709302,0.824140,0.103759,0.053435,8.453488,3.348949,0.896358,0.102431
112,99+VINTAGE 1958 PET EVAPORATED MILK COMMERCIAL...,1.934590,0.485412,0.00000,0.000000,1.380952,0.804748,0.857143,0.853564,0.078429,0.066096,4.857143,1.651839,0.863886,0.177512

# merge all features

In [36]:
stats = content_stats.merge(color_stats, on='ad_id', how='left')

In [38]:
len(stats)

113

In [39]:
stats.head(2)

,ad_id,inner_brightness_mean,inner_brightness_std,inner_sharpness_mean,inner_sharpness_std,objects_count_yolo_mean,objects_count_yolo_std,face_count_yolo_mean,face_count_yolo_std,region_size_avg_mean,...,texture_c3_contrast_mean,texture_c3_contrast_std,texture_c3_correlation_mean,texture_c3_correlation_std,texture_c3_energy_mean,texture_c3_energy_std,texture_c3_homogeneity_mean,texture_c3_homogeneity_std,texture_c3_dissimilarity_mean,texture_c3_dissimilarity_std
0,1+90 Years Crafting.mp4,1.484394,0.118956,43.936865,49.623876,1.823529,1.975958,0.823529,0.635934,0.082606,...,41.409871,38.526797,0.997088,0.002315,0.234465,0.019319,0.582653,0.051157,2.524118,0.901940
1,10+Aptamil Advert 2021.mp4,1.392879,0.201502,50.400985,69.511979,1.564103,1.046168,1.256410,0.751068,0.091923,...,109.634644,38.453309,0.991721,0.002525,0.227305,0.004294,0.623649,0.061499,3.228256,0.972189

In [40]:
def split_ad_id(ad_id):
    if '+' in ad_id[0:5]:
        return ad_id.split('+')[0]
    elif '-' in ad_id[0:5]:
        return ad_id.split('-')[0]
    else:
        return ad_id  # if neither '+' nor '-' is present, return the original ad_id

In [41]:
stats['VideoNumber'] = stats['ad_id'].apply(split_ad_id)

In [42]:
stats.head(2)

,ad_id,inner_brightness_mean,inner_brightness_std,inner_sharpness_mean,inner_sharpness_std,objects_count_yolo_mean,objects_count_yolo_std,face_count_yolo_mean,face_count_yolo_std,region_size_avg_mean,...,texture_c3_contrast_std,texture_c3_correlation_mean,texture_c3_correlation_std,texture_c3_energy_mean,texture_c3_energy_std,texture_c3_homogeneity_mean,texture_c3_homogeneity_std,texture_c3_dissimilarity_mean,texture_c3_dissimilarity_std,VideoNumber
0,1+90 Years Crafting.mp4,1.484394,0.118956,43.936865,49.623876,1.823529,1.975958,0.823529,0.635934,0.082606,...,38.526797,0.997088,0.002315,0.234465,0.019319,0.582653,0.051157,2.524118,0.901940,1
1,10+Aptamil Advert 2021.mp4,1.392879,0.201502,50.400985,69.511979,1.564103,1.046168,1.256410,0.751068,0.091923,...,38.453309,0.991721,0.002525,0.227305,0.004294,0.623649,0.061499,3.228256,0.972189,10

In [43]:
stats['VideoNumber'] = stats['VideoNumber'].astype(float)

In [44]:
stats['VideoNumber'].describe()

count    113.000000
mean      61.309735
std       34.420478
min        1.000000
25%       33.000000
50%       61.000000
75%       91.000000
max      120.000000
Name: VideoNumber, dtype: float64

stats.to_csv('../features/infant_ads_visual_features.csv',index=False)